<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canbus Service</title>

    <script>
        var hostName="{{host}}"
    </script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .chart_plot {
            padding-top:75px;
        }
    </style>

</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CANBUS - 525</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/simonhossainkhan/canbus" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/simonhossainkhan/canbus/blob/master/canbus/example_requests/example_request.py" target="_blank">Example Request</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

    {% block content %}

    {% endblock %}

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="text-align:center; background-color: lightgray; padding-top:25px; padding-bottom: 25px;">
                <p>ECE 525 - Embedded Systems</p>
                <p>Canbus IOT Project</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

{% load static %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static '/js/generateChart.js' %}"></script>

