{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="text-align:center;">ECE 525 Dashboard</h1>
            </div>
        </div>
    </div>

    <div style="padding-top:50px;"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="list-group">
                    {% for item in trips %}
                        <a id="{{item.id}}" href="#" class="list-group-item trip-panel">
                            <h4 class="list-group-item-heading">Trip {{item.name}}</h4>
                            <p class="list-group-item-text">{{item.start_time}} - {{item.end_time}}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container chart_plot">
        <div class="row">
            <div class="col-xs-12">
                <div id="mph"></div>
            </div>
        </div>
    </div>

    <div class="container chart_plot">
        <div class="row">
            <div class="col-xs-12">
                <div id="rpm"></div>
            </div>
        </div>
    </div>
    <div class="container chart_plot">
        <div class="row">
            <div class="col-xs-12">
                <div id="throttle"></div>
            </div>
        </div>
    </div>
    <div class="container chart_plot">
        <div class="row">
            <div class="col-xs-12">
                <div id="load"></div>
            </div>
        </div>
    </div>
    <div class="container chart_plot">
        <div class="row">
            <div class="col-xs-12">
                <div id="fuel_status"></div>
            </div>
        </div>
    </div>

{% endblock %}
