{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="text-align:center;">Your Dashboard</h1>
            </div>
        </div>
    </div>

    <div style="padding-top:50px;"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="list-group">
                    {% for item in trips %}
                        <a href="#" class="list-group-item {% if forloop.counter == 1 %} active {% endif %}">
                            <h4 class="list-group-item-heading">Trip {{item.name}}</h4>
                            <p class="list-group-item-text">{{item.start_time}} - {{item.end_time}}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="myDiv"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="timeDiv"></div>
            </div>
        </div>
    </div>

{% endblock %}
